In [2]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
import pandas as pd
import numpy as np

In [4]:
# data structures
# series type(one-dimensional)
# creating a series from arrays

x=np.array(['p','a','n','d','a','s'])
y=pd.Series(x)
print(y)
print(y.ndim)

0    p
1    a
2    n
3    d
4    a
5    s
dtype: object
1

In [5]:
# creating a series from list
list1=[1,2,3,4,5]
x1=pd.Series(list1)
print(x1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
# creating a series from dictionary
d={'x':0,'y':1,'z':2}
x2=pd.Series(d)
print(x2)

x    0
y    1
z    2
dtype: int64

In [7]:
d={'x':0.,'y':1.,'z':2.}
x2=pd.Series(d)
print(x2)

x    0.0
y    1.0
z    2.0
dtype: float64

In [8]:
# in series data structure we are converting a list,array and dict into a one-dimensional array

In [9]:
# dataframe(converting the data in the form of rows and columns that means 2-Dimensional )
# you can create dataframe from (list,list of tuples,dict,excel spreadsheets and .csv files)
# creating a dataframe from list
a1=["apple","babanana","orange","kiwi"]
df=pd.DataFrame(a1)
print(df)

          0
0     apple
1  babanana
2    orange
3      kiwi

In [10]:
# creating a dataframe from list of lists
a2=[["apple",100],["babanana",200],["orange",300],["kiwi",400]]
df1=pd.DataFrame(a2)
print(df1)

          0    1
0     apple  100
1  babanana  200
2    orange  300
3      kiwi  400

In [11]:
a2=[["apple",100],["banana",200],["orange",300],["kiwi",400]]
df1=pd.DataFrame(a2,columns=["fruit","price"])
print(df1)

    fruit  price
0   apple    100
1  banana    200
2  orange    300
3    kiwi    400

In [12]:
# creating a dataframe from list of tuples
a3=[("apple",100),("banana",200),("orange",300),("kiwi",400)]
df2=pd.DataFrame(a3)
print(df2)

        0    1
0   apple  100
1  banana  200
2  orange  300
3    kiwi  400

In [13]:
a3=[("apple",100),("banana",200),("orange",300),("kiwi",400)]
df2=pd.DataFrame(a3,columns=["friut","rate"])
print(df2)

    friut  rate
0   apple   100
1  banana   200
2  orange   300
3    kiwi   400

In [14]:
# creating a dataframe from .csv files
df5=pd.read_csv(r"C:\Users\pslas\OneDrive\Desktop\DATA SET CSV\diabetes data.csv")
print(df5)

       gender   age  hypertension  heart_disease smoking_history    bmi  \
0      Female  80.0             0              1           never  25.19
1      Female  54.0             0              0         No Info  27.32
2        Male  28.0             0              0           never  27.32
3      Female  36.0             0              0         current  23.45
4        Male  76.0             1              1         current  20.14
...       ...   ...           ...            ...             ...    ...
99995  Female  80.0             0              0         No Info  27.32
99996  Female   2.0             0              0         No Info  17.37
99997    Male  66.0             0              0          former  27.83
99998  Female  24.0             0              0           never  35.42
99999  Female  57.0             0              0         current  22.43

       HbA1c_level  blood_glucose_level  diabetes
0              6.6                  140         0
1              6.6                   80         0
2              5.7                  158         0
3              5.0                  155         0
4              4.8                  155         0
...            ...                  ...       ...
99995          6.2                   90         0
99996          6.5                  100         0
99997          5.7                  155         0
99998          4.0                  100         0
99999          6.6                   90         0

[100000 rows x 9 columns]

In [28]:
df4=pd.read_csv(r"C:\Users\pslas\OneDrive\Desktop\DATA SET CSV\diabetes data.csv")
print(df4)

       gender   age  hypertension  heart_disease smoking_history    bmi  \
0      Female  80.0             0              1           never  25.19
1      Female  54.0             0              0         No Info  27.32
2        Male  28.0             0              0           never  27.32
3      Female  36.0             0              0         current  23.45
4        Male  76.0             1              1         current  20.14
...       ...   ...           ...            ...             ...    ...
99995  Female  80.0             0              0         No Info  27.32
99996  Female   2.0             0              0         No Info  17.37
99997    Male  66.0             0              0          former  27.83
99998  Female  24.0             0              0           never  35.42
99999  Female  57.0             0              0         current  22.43

       HbA1c_level  blood_glucose_level  diabetes
0              6.6                  140         0
1              6.6                   80         0
2              5.7                  158         0
3              5.0                  155         0
4              4.8                  155         0
...            ...                  ...       ...
99995          6.2                   90         0
99996          6.5                  100         0
99997          5.7                  155         0
99998          4.0                  100         0
99999          6.6                   90         0

[100000 rows x 9 columns]

In [13]:
# essentional functionality
# to find no of rows and columns in a dataset then we are using .shape function...
df5=pd.read_csv(r"C:\Users\pslas\OneDrive\Desktop\DATA SET CSV\diabetes data.csv")
a=df5.shape
print(a)

# suppose if you want to know omly no of rows and no of columns
r,c=df5.shape
print(r)
print(c)

(100000, 9)
100000
9

In [12]:
import pandas as pd

# Read Excel file
df = pd.read_excel(r"C:\Users\pslas\OneDrive\Desktop\SampleSuperstore.xls")

# Display the first 5 rows
print(df.head())

   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2018-152156 2018-11-08 2018-11-11    Second Class    CG-12520
1       2  CA-2018-152156 2018-11-08 2018-11-11    Second Class    CG-12520
2       3  CA-2018-138688 2018-06-12 2018-06-16    Second Class    DV-13045
3       4  US-2017-108966 2017-10-11 2017-10-18  Standard Class    SO-20335
4       5  US-2017-108966 2017-10-11 2017-10-18  Standard Class    SO-20335

     Customer Name    Segment Country/Region             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0     42420.0   South  FUR-BO-10001798        Furniture    Bookcases
1     42420.0   South  FUR-CH-10000454        Furniture       Chairs
2     90036.0    West  OFF-LA-10000240  Office Supplies       Labels
3     33311.0   South  FUR-TA-10000577        Furniture       Tables
4     33311.0   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]

In [11]:
# creating a dataframe from dictionary
est={"hi":[1,2,3],"bye":[4,45,678]}
df3=pd.DataFrame(est)
print(df3)

   hi  bye
0   1    4
1   2   45
2   3  678

In [15]:
# to retrive rows from dataframe

df=pd.read_csv(r"C:\Users\pslas\OneDrive\Desktop\DATA SET CSV\diabetes data.csv")
# if you want to see top 5 rows in a dataset then you need to use .head() function...
top=df.head()
print(top)

# top 3 rows in a dataset
top1=df.head(3)
print(top1)

   gender   age  hypertension  heart_disease smoking_history    bmi  \
0  Female  80.0             0              1           never  25.19
1  Female  54.0             0              0         No Info  27.32
2    Male  28.0             0              0           never  27.32
3  Female  36.0             0              0         current  23.45
4    Male  76.0             1              1         current  20.14

   HbA1c_level  blood_glucose_level  diabetes
0          6.6                  140         0
1          6.6                   80         0
2          5.7                  158         0
3          5.0                  155         0
4          4.8                  155         0
   gender   age  hypertension  heart_disease smoking_history    bmi  \
0  Female  80.0             0              1           never  25.19
1  Female  54.0             0              0         No Info  27.32
2    Male  28.0             0              0           never  27.32

   HbA1c_level  blood_glucose_level  diabetes
0          6.6                  140         0
1          6.6                   80         0
2          5.7                  158         0

In [16]:
df=pd.read_csv(r"C:\Users\pslas\OneDrive\Desktop\DATA SET CSV\diabetes data.csv")
# if you want to see bottom 5 rows in a dataset then you need to use .tail() function...
bottom=df.tail()
print(bottom)

# bottom 3 rows in a dataset
bottom1=df.tail(3)
print(bottom1)

       gender   age  hypertension  heart_disease smoking_history    bmi  \
99995  Female  80.0             0              0         No Info  27.32
99996  Female   2.0             0              0         No Info  17.37
99997    Male  66.0             0              0          former  27.83
99998  Female  24.0             0              0           never  35.42
99999  Female  57.0             0              0         current  22.43

       HbA1c_level  blood_glucose_level  diabetes
99995          6.2                   90         0
99996          6.5                  100         0
99997          5.7                  155         0
99998          4.0                  100         0
99999          6.6                   90         0
       gender   age  hypertension  heart_disease smoking_history    bmi  \
99997    Male  66.0             0              0          former  27.83
99998  Female  24.0             0              0           never  35.42
99999  Female  57.0             0              0         current  22.43

       HbA1c_level  blood_glucose_level  diabetes
99997          5.7                  155         0
99998          4.0                  100         0
99999          6.6                   90         0

In [17]:
# to retrive a range of rows

df=pd.read_csv(r"C:\Users\pslas\OneDrive\Desktop\DATA SET CSV\diabetes data.csv")
a=df[2:4]
print(a)

   gender   age  hypertension  heart_disease smoking_history    bmi  \
2    Male  28.0             0              0           never  27.32
3  Female  36.0             0              0         current  23.45

   HbA1c_level  blood_glucose_level  diabetes
2          5.7                  158         0
3          5.0                  155         0

In [18]:
# to retrive column names
# suppose if you want to know what kinds of attributes are their in your dataset

df=pd.read_csv(r"C:\Users\pslas\OneDrive\Desktop\DATA SET CSV\diabetes data.csv")
a=df.columns
print(a)

Index(['gender', 'age', 'hypertension', 'heart_disease', 'smoking_history',
       'bmi', 'HbA1c_level', 'blood_glucose_level', 'diabetes'],
      dtype='object')

In [22]:
# to retrive column data

df=pd.read_csv(r"C:\Users\pslas\OneDrive\Desktop\DATA SET CSV\diabetes data.csv")
c=df[['gender','age']]
print(c)

       gender   age
0      Female  80.0
1      Female  54.0
2        Male  28.0
3      Female  36.0
4        Male  76.0
...       ...   ...
99995  Female  80.0
99996  Female   2.0
99997    Male  66.0
99998  Female  24.0
99999  Female  57.0

[100000 rows x 2 columns]

In [25]:
# to find maximum and minimum values in your dataset

df=pd.read_csv(r"C:\Users\pslas\OneDrive\Desktop\DATA SET CSV\diabetes data.csv")
a=df['hypertension'].max()
b=df['hypertension'].min()
print(a)
print(b)

1
0

In [29]:
# sorting the data
df=pd.read_csv(r"C:\Users\pslas\OneDrive\Desktop\DATA SET CSV\diabetes data.csv")
a=df.sort_values("age")
print(a)

       gender    age  hypertension  heart_disease smoking_history    bmi  \
67326    Male   0.08             0              0         No Info  11.05
34663    Male   0.08             0              0         No Info  27.32
9683   Female   0.08             0              0         No Info  11.88
53735    Male   0.08             0              0         No Info  12.08
98965  Female   0.08             0              0         No Info  12.50
...       ...    ...           ...            ...             ...    ...
63255  Female  80.00             0              0         No Info  27.32
63308  Female  80.00             1              1           never  22.93
63342  Female  80.00             0              0          former  34.51
63371  Female  80.00             0              0           never  29.70
49999  Female  80.00             0              0         No Info  27.32

       HbA1c_level  blood_glucose_level  diabetes
67326          4.5                  200         0
34663          5.8                  155         0
9683           5.7                   80         0
53735          6.2                  158         0
98965          4.5                  155         0
...            ...                  ...       ...
63255          6.6                  126         0
63308          7.5                  300         1
63342          4.8                  158         0
63371          5.7                  155         0
49999          3.5                   90         0

[100000 rows x 9 columns]

In [33]:
df=pd.read_csv(r"C:\Users\pslas\OneDrive\Desktop\DATA SET CSV\diabetes data.csv")
a=df.sort_values("age",ascending=False)
print(a)

       gender    age  hypertension  heart_disease smoking_history    bmi  \
0      Female  80.00             0              1           never  25.19
58420    Male  80.00             0              0           never  30.38
57864  Female  80.00             0              0           never  30.29
57875    Male  80.00             1              0           never  27.32
8129   Female  80.00             0              0     not current  26.66
...       ...    ...           ...            ...             ...    ...
30060    Male   0.08             0              0         No Info  12.89
16028    Male   0.08             0              0         No Info  14.40
40039  Female   0.08             0              0         No Info  14.26
92964    Male   0.08             0              0         No Info  12.10
33684    Male   0.08             0              0         No Info  30.64

       HbA1c_level  blood_glucose_level  diabetes
0              6.6                  140         0
58420          8.2                  130         1
57864          4.0                   80         0
57875          6.5                  200         1
8129           6.1                  200         0
...            ...                  ...       ...
30060          6.5                  145         0
16028          6.0                   90         0
40039          6.5                  160         0
92964          6.1                  159         0
33684          6.6                  130         0

[100000 rows x 9 columns]

In [29]:
#reshaping the data
# that means we are coverting categorical data into numerical data
df=pd.DataFrame(
    {
        "Student": ["hi","bye","ok","hmm",],
        "Result": ["pass","fail","pass","fail"]       
    }
)
print("DataFrame...\n",df)
df["Result"]=df["Result"].map({"pass":1,"fail":0,})
print('reshaped dataframe...\n',df)

DataFrame...
   Student Result
0      hi   pass
1     bye   fail
2      ok   pass
3     hmm   fail
reshaped dataframe...
   Student  Result
0      hi       1
1     bye       0
2      ok       1
3     hmm       0

In [34]:
# retriving multiple columns
df=pd.read_csv(r"C:\Users\pslas\OneDrive\Desktop\DATA SET CSV\diabetes data.csv")
b1=df["heart_disease"]
print(b1)

0        1
1        0
2        0
3        0
4        1
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Name: heart_disease, Length: 100000, dtype: int64

In [38]:
df=pd.read_csv(r"C:\Users\pslas\OneDrive\Documents\Book5.csv")
print(df)

      EMPID     ENAME  SALARY         DOJ
0  0      1      siva   15000   10/2/2002
1  1      2       sai   23000   11/5/2003
2  2      3   sandeep   54000    9/3/2002
3  3      4    sanjay   12500  16/12/1995
4  4      5  santhosh   17000  13/06/2010
5  5      6  srikanth    9000  24/09/1999

In [35]:
# selecting multiple rows by using .loc[]:
df=pd.read_csv(r"C:\Users\pslas\OneDrive\Documents\Book5.csv",index_col="ENAME")
a2=df.loc[["sai","santhosh"]]
print(a2)

          EMPID  SALARY         DOJ
ENAME
sai           2   23000   11/5/2003
santhosh      5   17000  13/06/2010

In [36]:
# selecting two rows and two columns by using .loc[]:

df=pd.read_csv("C:\Book5.csv",index_col="ENAME")
s1=df.loc[["sai","sandeep"],["SALARY","DOJ"]]
print(s1)

         SALARY        DOJ
ENAME
sai       23000  11/5/2003
sandeep   54000   9/3/2002

In [37]:
# here we are selecting all rows and some columns by using.loc[]:
df=pd.read_csv("C:\Book5.csv",index_col="ENAME")
c1=df.loc[:,["EMPID","SALARY"]]
print(c1)

          EMPID  SALARY
ENAME
siva          1   15000
sai           2   23000
sandeep       3   54000
sanjay        4   12500
santhosh      5   17000
srikanth      6    9000

In [38]:
# indexing a dataframe using .iloc[]:
# it is similar to .loc[] but in this we are giving the position number of rows and columns
# to display the 4th row of the data you need to give values as 3

df=pd.read_csv("C:\Book5.csv",index_col="ENAME")
d1=df.iloc[3]
print(d1)

EMPID              4
SALARY         12500
DOJ       16/12/1995
Name: sanjay, dtype: object

In [39]:
# selecting multiple rows by using iloc[]:
df=pd.read_csv("C:\Book5.csv",index_col="ENAME")
f1=df.iloc[[0,2,4]]
print(f1)

          EMPID  SALARY         DOJ
ENAME
siva          1   15000   10/2/2002
sandeep       3   54000    9/3/2002
santhosh      5   17000  13/06/2010

In [40]:
# selecting multiple rows and columns by using iloc[]:
df=pd.read_csv("C:\Book5.csv",index_col="ENAME")
f1=df.iloc[[1,3],[0,2]]
print(f1)

        EMPID         DOJ
ENAME
sai         2   11/5/2003
sanjay      4  16/12/1995

In [41]:
#selecting all rows and some columns by suing .iloc[]:
df=pd.read_csv("C:\Book5.csv",index_col="ENAME")
h1=df.iloc[:,[0,1]]
print(h1)
g1=df.iloc[:,:]
print(g1)

          EMPID  SALARY
ENAME
siva          1   15000
sai           2   23000
sandeep       3   54000
sanjay        4   12500
santhosh      5   17000
srikanth      6    9000
          EMPID  SALARY         DOJ
ENAME
siva          1   15000   10/2/2002
sai           2   23000   11/5/2003
sandeep       3   54000    9/3/2002
sanjay        4   12500  16/12/1995
santhosh      5   17000  13/06/2010
srikanth      6    9000  24/09/1999

In [42]:
# statistics by pandas
# to return the sum of values...
hi={
    "a":[1,2,3,4,5],
    "b":[10,20,30,40,50]}
df=pd.DataFrame(hi)
print(df.sum())

a     15
b    150
dtype: int64

In [43]:

hi={
    "a":[1,2,3,4,5],
    "b":[10,20,30,40,50]}
df=pd.DataFrame(hi)
print(df.sum(1))

0    11
1    22
2    33
3    44
4    55
dtype: int64

## to calculate mean,median and mode
hi={
    "a":[1,2,3,4,5],
    "b":[10,20,30,40,50]}
df=pd.DataFrame(hi)
mean_value=df.mean()
median_value=df.median()
mode_value1=df.mode().iloc[0]
mode_value=df.mode()
print("mean values are:\n",mean_value)
print("median values are:\n",median_value)
print("mode values are:\n",mode_value)

In [45]:
# correlation matrix
hi={
    "a":[1,2,3,4,5],
    "b":[10,20,30,40,50]}
df=pd.DataFrame(hi)
correlation_matrix=df.corr()
print("correlation matrix:\n",correlation_matrix)

correlation matrix:
      a    b
a  1.0  1.0
b  1.0  1.0

In [46]:
# to find standard deviation
hi={
    "a":[1,2,3,4,5],
    "b":[10,20,30,40,50]}
df=pd.DataFrame(hi)
print(df.std())

a     1.581139
b    15.811388
dtype: float64

In [47]:
# describe() function...
san={"age":[20,30,40,50,60],
     "experinece":[5,6,7,8,9],
     "salary":[500,600,700,800,900]}
df=pd.DataFrame(san)
print(df.describe())

             age  experinece      salary
count   5.000000    5.000000    5.000000
mean   40.000000    7.000000  700.000000
std    15.811388    1.581139  158.113883
min    20.000000    5.000000  500.000000
25%    30.000000    6.000000  600.000000
50%    40.000000    7.000000  700.000000
75%    50.000000    8.000000  800.000000
max    60.000000    9.000000  900.000000

In [48]:
                               *** PART 1(PUSHPA THE RISE)COMPLETED***

SyntaxError: invalid syntax (578678271.py, line 1)